body {
  font-family: "Arial", sans-serif;
}

/*--HEADER */
.header {
  color: #fff;
  text-align: center;
  background-image: url(img/intro-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
}
.header h1 {
  font-size: 48px;
}
.header h2 {
  font-size: 24px;
  padding: 0 170px;
  font-weight: normal;
}
.header p {
  font-size: 18px;
  margin: 0;
}
.header .main {
  padding-top: 180px;
}
.header .main h1 {
  padding: 0 50px;
  margin-bottom: 30px;
}
.header .sub {
  padding: 70px 0 120px;
}
.header .sub div {
  border: 2px #fff solid;
  margin: 0 25px;
  padding: 20px 0;
}

/*--MENU */

.menu {
  height: 100px;
}
.menu nav ul {
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu nav ul li {
  display: inline-block;
  margin-left: 30px;
}
.menu nav ul li span {
  color: #f6ae48;
}
.menu nav ul li a {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
.menu nav ul li a:hover {
  color: #f6ae48;
  transition: 0.1s linear;
}

/*--STUDIO */
.studio {
  color: #000;
  height: 1100px;
}
.studio .main {
  background-image: url(img/studio-bg.png);
  background-repeat: no-repeat;
  background-position: center 40%;
  padding: 160px 0 200px;
}
.studio .main h1 {
  font-size: 48px;
}
.studio .main p {
  padding-right: 70px;
  font-size: 20px;
}
.studio .sub {
  padding-bottom: 240px;
}
.studio .sub div {
  padding: 15px;
  padding-bottom: 0;
}
.studio .sub div h1 {
  font-size: 25px;
  padding-top: 25px;
}
.studio .sub div:last-child {
  color: #fff;
  background-color: #f6ae48;
}
.studio .sub div:last-child button {
  background-color: #f6ae48;
  border: 2px #fff solid;
  color: #fff;
  padding: 5px 15px;
}
.studio .sub div:last-child img {
  float: right;
}
.studio .sub div:last-child div {
  padding: 0;
}

/*--DEVELOPMENT */
.development {
  color: #fff;
  text-align: center;
  background-image: url(img/development-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}
.development h1 {
  font-size: 48px;
}
.development h2 {
  font-size: 24px;
  padding: 0 170px;
  font-weight: normal;
}
.development .bg {
  top: -140px;
  left: -194px;
  position: relative;
  width: 666px;
  height: 527px;
  background-image: url(img/development-bg-0.jpg);
}
.development .main {
  padding-top: 180px;
  padding-bottom: 220px;
}
.development .main h1 {
  padding: 0 50px;
  margin-bottom: 30px;
}
.development .sub {
  top: -300px;
  position: relative;
  padding: 0 0 120px;
}
.development .sub .page {
  text-align: left;
  margin: 0 10px;
  padding: 50px 30px 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
.development .sub .page h1 {
  padding-bottom: 40px;
}
.development .sub .page button {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  padding: 5px 15px;
}
.development .sub .page.one {
  background-image: url(img/development-sub-1.jpg);
}
.development .sub .page.one button {
  border: 2px #00b9e7 solid;
}
.development .sub .page.two {
  background-image: url(img/development-sub-2.jpg);
}
.development .sub .page.two button {
  border: 2px #ffcb00 solid;
}
.development .sub .page.three {
  background-image: url(img/development-sub-3.jpg);
}
.development .sub .page.three button {
  border: 2px #66bf0d solid;
}

/*--MEDIA */
@media (max-width: 1200px) {
  .menu .main {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 1000px) {
  .header .main h1 {
    padding: 0;
  }

  .header h2 {
    padding: 0;
  }

  .development {
    margin-top: 200px;
  }
  .development .main {
    padding-top: 80px;
  }
  .development h2 {
    padding: 0;
  }
  .development h1 {
    padding: 0;
  }
  .development .sub .page {
    margin-bottom: 40px;
  }
}
@media (max-width: 770px) {
  .header .sub div {
    margin-bottom: 35px;
  }

  .development {
    margin-top: 500px;
  }
}